@use "../../styles/partials/variables" as *;

.calorie-table{

  &__row{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: transparent;  
    color: $primary-color;  
    margin: 5px 0;
    border-radius: 5px;
    border-bottom: 1px solid #555;

    &--header {
    font-weight: bold;
    background: linear-gradient(135deg, #00bcd4, #00796b);

    }

    &--total {
      background-color: #333;
      font-weight: bold;
  }
    }
  

  &__column{

    flex: 1;
    text-align: center;
    padding: 5px;
    width:30%;

    &--delete {
    background-color: $alert-color;
    color: $primary-color;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    
      &:hover {
      background-color: #e63946;

    }
  }

}
}

 