@use "../../styles/partials/variables.scss" as *;
.water-reminder {
    padding: 1.25rem;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    
    .reminder-box {
      background-color: #e1f7d5;
      padding: 0.9375rem;
      border-radius: 0.3125rem;
      margin-top: 0.9375rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  
      &__text {
        font-size: 1rem;
        font-weight: 500;
        color: #4b8f29;
        margin: 0;
  
        }
  
      &__button {
        background-color: #3c763d;
        color: white;
        border: none;
        padding: 0.5rem 0.9375rem;
        border-radius: 0.25rem;
        cursor: pointer;
        font-size: 0.875rem;
        transition: background-color 0.3s ease;
  
        &.dismiss {
          background-color: #2b5c2b;
          color: white;
        }
  
        &:hover {
          background-color: #2b5c2b;
        }
  
        &:focus {
          outline: none;
          box-shadow: 0 0 0 0.125rem rgba(60, 118, 61, 0.6);
        }
      }
    }
  }