@use "../../styles/partials/variables.scss" as *;
.recipe{

  &__header {
  text-align: center;
  font-size: 2rem;
  margin: 7rem auto 3rem auto;
}
}

  .recipe-finder {
    width: 80%;
    margin: 30px auto;
    border : 2px solid $primary-color;
    padding: 20px;
    margin-bottom:1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding:1rem;
  }
  
  &__label {
    font-size: 1.5rem;
    color: $primary-color;
    margin-bottom: 5px;
  }
  
  &__select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $alt-textcolor;
    border-radius: 5px;
    width: 250px;
    background-color: $primary-color;
  }
  
  &__button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background: $button-color;
    color: $primary-color;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
      &:hover {
        background-color: #0056b3;
      }
  }
  
}
  .error-message {
    color: $alert-color;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
.recipe {
    margin-top: 20px;
    
  &__header {
    font-size: 1.5rem;
    color: $primary-color;
    margin-bottom: 10px;
    text-align: center;
  }

  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  &__item {
    border: 2px solid $primary-color;
    padding: 15px;
    margin: 10px 0;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  &__name {
    font-size: 1.3rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 10px;
  }
}
  
  