@use "../../styles/partials/variables" as *;
h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 3.125rem;
  margin-top: 1.875rem;
}

.form {
  max-width: 31.25rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 0.125rem solid $primary-color;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;

  &__label {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__select {
    padding: 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid #ccc;
    background-color: $primary-color;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #4caf50;
    }
  }

  &__button {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
    color: $primary-color;
    background: $button-color;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1.25rem;
  }
}

.message {
  
    &__success {
      background: $button-color;
      margin: 5rem 25rem;
      padding: 0.625rem;
      margin-top: 0.9375rem;
      text-align: center;
      border-radius: 0.3125rem;
    }
    &__error {
    background-color: $alert-color;
    margin: 5rem 25rem;
    color: $primary-color;
    padding: 0.625rem;
    margin-top: 0.9375rem;
    text-align: center;
    border-radius: 0.3125rem;
    }
}
