@use "../../styles/partials/variables" as *;
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 3.125rem;
  margin-top: 1.875rem;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid $primary-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__label {
    font-size: 20px;
    font-weight: 600;
  }

  &__select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: $primary-color;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #4caf50;
    }
  }

  &__button {
    padding: 12px 20px;
    font-size: 18px;
    color: $primary-color;
    background: $button-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
}

.message {
  
    &__success {
      background: $button-color;
      margin: 5rem 25rem;
      padding: 10px;
      margin-top: 15px;
      text-align: center;
      border-radius: 5px;
    }
    &__error {
    background-color: $alert-color;
    margin: 5rem 25rem;
    color: $primary-color;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    }
}
