$mobile-breakpoint:320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;
$primary-color:#6344c0;
$accent-color:#d073b1;
$secondary-color:#dd9adc;
$border-color:#B7CEC9;
$alternate-background:#E4EFEC;
$alt-textcolor:#FFFFFF;






