$mobile-breakpoint:320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;
$primary-textcolor:#0C1E1A;
$primary-accentcolor:#1E6655;
$background-color:#EFFAF7;
$border-color:#B7CEC9;
$alternate-background:#E4EFEC;
$alt-textcolor:#FFFFFF;






