$mobile-breakpoint:320px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;
$primary-color:white;
$secondary-color:black;
$alt-textcolor:#cccccc;
$button-color:linear-gradient(135deg, #9c27b0, #6200ea);
$alert-color:#dc3545;








